*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.EncaDeca{
    width: 56.51%;
    height: 100px;
    border-radius: 15px;
    border: 1px solid #02536e;
    padding: 15px;
}
.EncaDeca .componentsTitle{
    color: #02536e;
    font-size: 1.1vw
}
